[user]
	name = Alexei Kornienko
	email = alexei.kornienko@gmail.com
	signingkey = FC850AD5
[core]
	autocrlf = input
	safecrlf = true
	editor = vim

[merge]
	tool = vimdiff
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=iso8601
	type = cat-file -t
	dump = cat-file -p
[http]
	sslverify = false
[mergetool]
	keepBackup = false
[color]
	ui = true
